@font-face {
    font-family: 'Shrimp Sans Serif';
    src: url('fonts/shrimp-sans-serif.woff2') format('woff2'),
         url('fonts/shrimp-sans-serif.woff') format('woff'),
         url('fonts/shrimp-sans-serif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Shrimp Sans Serif',Roboto,sans-serif;
    background-image: url('https://monogramcc.com/static/3087a8d7656dfbfca1bb710835289def/b7f32/home_hero_dark_a5ec9a89de.webp'); /* Set your background image */
    height: 100vh; /* Full height */
    background-size: 120%; 
    background-position: center; /* Center the image */
    background-size: cover;
       
    
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}









nav{
    background-color:#1A2456 ;
    /* padding: 0.5rem 1rem; */
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-radius: 5px;
    margin-top: 20px;


    /* position: absolute;  */
    top: 0px; /* Align to the top */
    left: 0; /* Align to the left */
    right: 0; /* Stretch to the right */
    padding: 10px; /* Add padding */
    z-index: 10;
}


nav:hover{
    background-color: rgba(26, 36, 86, 0.8);
    transition: background-color 0.3s ease;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.logo svg{
    height: 38px;
    color:  #EFC2B3;
}
.logo svg:hover{
    height: 38px;
    color:  #ff8b68;
    cursor: pointer;
    transform: scale(1.01);
}



.nav-links {
    display: flex;
    list-style: none;
  }

.nav-links li{
    margin:0 15px ;
    font-weight: 100;
    position: relative;
    font-size: 14px;
 }

    .nav-links li a{
        color: #EFC2B3;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .nav-links li a:hover{
        color: #ff8b68 ;
        transition: color 0.3s ease;
    }


    .hero-title {
        position: absolute; /* Position the title absolutely */
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Offset to center the element */
        color: #EFC2B3; /* Text color */
        font-size: 3rem; /* Adjust as needed */
        text-align: center; /* Center text alignment */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for visibility */
        z-index: 1; /* Ensure it's in front of the background */
    }